In [1]:
import requests
import json
import pandas as pd
import urllib.parse

In [2]:
API_Key = 
Destinations_list=open('dests.txt')
Target=[]
Longitude=[]
Latitude=[]
Distance_km=[]
Duration=[]
parms={}
for line in Destinations_list:
    address=line
    Target.append(line.rstrip())
    url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (address,API_Key)
    try:
        response = requests.get(url).json()
        if not response['results'][0]["status"] == "OK":
            print("HTTP error")
        else:
            try:
                response = json.loads(response)
            except:
                print("Response not in valid JSON format")
    except:
        Longitude.append(response['results'][0]["geometry"]["location"]['lng'])
        Latitude.append(response['results'][0]["geometry"]["location"]['lat'])  
        service_url="https://maps.googleapis.com/maps/api/distancematrix/json?origins=tel%20aviv&"
        parms['destinations']=line
        parms['units']='kilometers'
        parms['key']=API_Key
        url=service_url+urllib.parse.urlencode(parms)
    try:
        response = requests.get(url).json()
        if not response['results'][0]["status"] == "OK":
            print("HTTP error")
        else:
            try:
                response = json.loads(response)
            except:
                print("Response not in valid JSON format")
    except:
        Distance_km.append(response['rows'][0]["elements"][0]["distance"]["text"])
        Duration.append(response['rows'][0]["elements"][0]["duration"]["text"])
        
df = pd.DataFrame(list(zip(Target,Distance_km,Duration,Longitude,Latitude)),columns =["Target", "Distance_km", "Duration","Longitude","Latitude"])

In [3]:
df

      Target Distance_km          Duration  Longitude   Latitude
0   Istanbul    1,815 km   21 hours 3 mins  28.978359  41.008238
1  Amsterdam    4,533 km    2 days 0 hours   4.904139  52.367573
2   Valletta    3,793 km    2 days 3 hours  14.514100  35.899237
3      Basel    4,093 km    1 day 20 hours   7.588576  47.559599
4       Doha    2,164 km  22 hours 39 mins  51.531040  25.285447

In [4]:
df=df.sort_values(by="Distance_km",ascending=False)
df.head(3)

      Target Distance_km        Duration  Longitude   Latitude
1  Amsterdam    4,533 km  2 days 0 hours   4.904139  52.367573
3      Basel    4,093 km  1 day 20 hours   7.588576  47.559599
2   Valletta    3,793 km  2 days 3 hours  14.514100  35.899237